#bulle {
  background-color: #020717;
}

@media (max-width: 1140px) {
  #bulle {
    min-height: 100%;
  }
}

#bulle h1 {
  color: white;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  margin-top: 0rem;
  padding-top: 10rem;
}

.tools {
  margin-left: auto;
  margin-right: auto;
  width: 1128px;
  height: 422px;
}

@media (max-width: 1140px) {
  .tools {
    width: 90%;
    height: auto;
  }
}

.tools h2 {
  color: white;
  font-weight: 700;
  font-size: 30px;
  line-height: 36.36px;
  margin-top: 50px;
}

.tools img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.tools p {
  color: white;
  font-size: 18px;
  line-height: 24px;
  font-weight: lighter;
}

.tools .logo {
  display: flex;
  gap: 20px;
}

.box {
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  background-color: #d8d8d8;
  width: 880px;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

@media (max-width: 890px) {
  .box {
    width: 90%;
    height: auto;
  }
}

.box img {
  width: 181px;
  height: 332px;
  object-fit: cover;
  margin-bottom: 25px;
}

.box .images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 74px 99px 74px 99px;
  gap: 70px;
}

@media (max-width: 890px) {
  .box .images {
    flex-direction: row;
    padding: 0;
    gap: 10px;
    align-items: center;
    margin-top: 7%;
  }

  .box .images img {
    width: 100%;
    height: auto;
    padding: 10px;
  }
}

.info {
  width: 1128px;
  height: 203px;
}

@media (max-width: 1140px) {
  .info {
    width: 90%;
    height: auto;
  }
}

.info strong {
  font-weight: bold;
}

.proposition {
  width: 1128px;
  height: 236px;
}

@media (max-width: 1140px) {
  .proposition {
    width: 90%;
    height: auto;
  }
}

.proposition strong {
  font-weight: bold;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1128px;
  height: 2644px;
  border: 1px solid #2e9262;
  border-radius: 10px;
  background-color: #2e9262;
  margin-right: auto;
  margin-left: auto;
  margin-top: 280px;
}

@media (max-width: 1140px) {
  .search {
    width: 90%;
    height: auto;
    margin-top: auto;
  }

  .search .content {
    padding-right: 10px;
  }
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 36px;
  background: #ffffff;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
}

.title h2 {
  font-size: 30px;
  line-height: 36px;
  color: #1a2e70;
}

.content h3 {
  font-size: 24px;
  line-height: 29px;
  color: white;
  margin-left: 20px;
  font-weight: 500;
}

.content p {
  font-size: 20px;
  line-height: 24px;
  color: white;
  margin-left: 20px;
  font-weight: lighter;
  margin-bottom: 1.5rem;
  width: 80%;
}

.content strong {
  font-weight: bold;
}

.content .subtitle1 {
  font-size: 24px;
  line-height: 30px;
  color: white;
  font-weight: 500;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  background: #2f4692;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
  width: fit-content;
  flex-wrap: wrap;
}

@media (max-width: 1000px) {
  .content .subtitle1 {
    max-width: 75%;
    min-width: 75%;
  }
}

.image1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  width: 1109px;
  height: 373px;
  justify-content: center;
}

@media (max-width: 1140px) {
  .image1 {
    flex-direction: column;
    gap: 0;
    height: auto;
    width: auto;
  }

  .image1 img {
    width: 95%;
    height: auto;
  }
}

.image1 img {
  max-height: 353px;
  border-radius: 5px;
}

.content .subtitle2 {
  font-size: 24px;
  line-height: 30px;
  color: white;
  font-weight: 500;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  background: #2f4692;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
  width: fit-content;
  flex-wrap: wrap;
}

.image2 {
  display: flex;
  justify-content: center;
}

.image2 img {
  width: 1058px;
  height: 463px;
}

@media (max-width: 1140px) {
  .image2 img {
    width: 90%;
    height: auto;
  }
}

.content .conclusion {
  font-size: 20px;
  line-height: 24px;
}

.content .subtitle3 {
  font-size: 24px;
  line-height: 30px;
  color: white;
  font-weight: 500;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  background: #2f4692;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
  width: fit-content;
  flex-wrap: wrap;
}

.judith {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.judith .face {
  width: 546px;
  height: 317px;
}

.judith .graphic {
  width: 1064px;
  height: 564px;
}

@media screen and (max-width: 1140px) {
  .judith .face {
    width: 90%;
    height: auto;
  }

  .judith .graphic {
    width: 90%;
    height: auto;
    margin-bottom: 2rem;
  }
}

.graphics {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1128px;
  height: 736px;
  border: 1px solid #f8bb90;
  border-radius: 10px;
  background-color: #f8bb90;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
}

.graphics h3 {
  color: #1a2e70;
}

.graphics p {
  color: #1a2e70;
}

@media (max-width: 1140px) {
  .graphics {
    width: 90%;
    height: auto;
  }
}

.images2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  gap: 40px;
  width: 1108px;
  height: 254px;
}

@media screen and (max-width: 1140px) {
  .images2 {
    flex-direction: row;
    gap: 10px;
    height: auto;
    width: auto;
    padding-left: 20px;
  }

  .graphics .images2 img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 500px) {
  .images2 {
    flex-direction: column;
    gap: 0;
    height: auto;
    width: auto;
    padding-left: 20px;
  }

  .graphics .images2 img {
    max-width: 95%;
  }
}

.images3 {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  width: 857px;
  height: 165px;
  padding-left: 20px;
}

@media screen and (max-width: 1140px) {
  .images3 {
    flex-direction: row;
    gap: 10px;
    height: auto;
    width: auto;
    padding-left: 20px;
  }

  .graphics .images3 img {
    width: 85%;
    height: auto;
    margin-bottom: 1rem;
  }
}

.wireframe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1128px;
  height: 676px;
  border: 1px solid #ffda91;
  border-radius: 10px;
  background-color: #ffda91;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
}

@media (max-width: 1140px) {
  .wireframe {
    width: 90%;
    height: auto;
  }
}

.wireframe h3 {
  color: #1a2e70;
}

.wireframe p {
  color: #1a2e70;
  width: auto;
}

.image4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  gap: 40px;
  width: 1109px;
}

@media (max-width: 1140px) {
  .image4 {
    flex-direction: column;
    gap: 0;
    height: auto;
    width: auto;
  }

  .image4 img {
    width: 95%;
    height: auto;
  }

  .wireframe p {
    width: 90%;
  }
}

.image4 img {
  max-height: 445px;
}

.maquetage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1128px;
  height: 3313px;
  border: 1px solid #2f4692;
  border-radius: 10px;
  background-color: #2f4692;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
}

@media (max-width: 1140px) {
  .maquetage {
    width: 90%;
    height: auto;
  }
}

.maquetage h3 {
  color: white;
}

.maquetage p {
  color: white;
  width: auto;
}

.image5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  gap: 40px;
  width: 1109px;
}

.image5 .picture2 {
  width: 291px;
  height: 583.34px;
}

.image5 .picture1 {
  width: 291px;
  height: 824px;
}

@media (max-width: 1140px) {
  .image5 {
    height: auto;
    width: auto;
  }

  .image5 .picture1 {
    width: 95%;
    height: auto;
  }

  .image5 .picture2 {
    width: 95%;
    height: auto;
  }
}

.image6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  width: auto;
}

.image6 img {
  width: 291px;
  height: 778.42px;
}

@media screen and (max-width: 1140px) {
  .image6 {
    gap: 0;
    height: auto;
    width: auto;
  }

  .image6 img {
    width: 90%;
    height: auto;
  }
}

.image7 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  width: auto;
  margin-top: 30px;
}

.image7 img {
  width: 291px;
  height: 571.97px;
}

@media screen and (max-width: 1140px) {
  .image7 {
    gap: 0;
    height: auto;
    width: auto;
  }

  .image7 img {
    width: 90%;
    height: auto;
  }
}

.image8 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  width: auto;
}

.image8 img {
  width: 375px;
  height: 736.05px;
}

@media screen and (max-width: 1140px) {
  .image8 {
    gap: 0;
    height: auto;
    width: auto;
  }

  .image8 img {
    width: 90%;
    height: auto;
  }
}

.testing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1128px;
  height: 1565px;
  border: 1px solid #2e9262;
  border-radius: 10px;
  background-color: #2e9262;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
}

@media (max-width: 1140px) {
  .testing {
    width: 90%;
    height: auto;
  }

  .testing .content {
    padding-right: 10px;
  }
}

.testing .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 56px;
  width: 490px;
  background: #ffffff;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
}

@media screen and (max-width: 1140px) {
  .testing .title {
    max-width: 80%;
    min-width: 80%;
  }
}

.title h2 {
  font-size: 30px;
  line-height: 36px;
  color: #1a2e70;
}

.content h3 {
  font-size: 24px;
  line-height: 29px;
  color: white;
  margin-left: 20px;
  font-weight: 500;
}

.testing .content p {
  font-size: 20px;
  line-height: 24px;
  color: white;
  margin-left: 20px;
  font-weight: lighter;
  margin-bottom: 1.5rem;
  width: auto;
}

.content strong {
  font-weight: bold;
}

.content .yellow {
  color: #ffda91;
  font-weight: 600;
}

.image9 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 1128px;
}

.image9 img {
  height: 307.19px;
}

@media (max-width: 1140px) {
  .image9 {
    width: auto;
    height: auto;
  }

  .image9 img {
    width: 90%;
    height: auto;
  }
}

.image10 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 1128px;
}

.image10 img {
  height: 429.28px;
}

@media (max-width: 1140px) {
  .image10 {
    width: auto;
    height: auto;
  }

  .image10 img {
    width: 90%;
    height: auto;
  }
}

.iteration {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1128px;
  height: 2970px;
  border: 1px solid #f8bb90;
  border-radius: 10px;
  background-color: #f8bb90;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
  margin-bottom: 4rem;
}

@media (max-width: 1140px) {
  .iteration {
    width: 90%;
    height: auto;
  }

  .iteration .content {
    padding-right: 10px;
  }
}

.iteration h3 {
  color: #1a2e70;
  font-weight: 600;
}

.iteration .blue {
  color: #1a2e70;
  width: auto;
  font-weight: normal;
}

.content .subtitle5 {
  font-size: 24px;
  line-height: 30px;
  color: white;
  font-weight: 500;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  background: #2f4692;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
  width: fit-content;
  flex-wrap: wrap;
}

.image11 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 40px;
  width: 1128px;
}

.image11 img {
  height: 203px;
}

@media (max-width: 1140px) {
  .image11 {
    width: auto;
    height: auto;
  }

  .image11 img {
    width: 90%;
    height: auto;
  }
}

.more {
  margin-top: 3rem;
}

.more h3 {
  margin-bottom: 2rem;
}

.more .blue {
  margin-bottom: -1.2rem;
}

.more ul {
  margin-left: 14px;
}

.more li {
  color: #1a2e70;
  color: #1a2e70;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.more .two {
  margin-bottom: 3rem;
  margin-top: -1.2rem;
}

.image12 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 1128px;
  margin-bottom: 3rem;
  gap: 40px;
  height: auto;
}

.image12 img {
  width: 375px;
}

@media screen and (max-width: 1140px) {
  .image12 {
    gap: 0;
    height: auto;
    width: auto;
  }

  .image12 img {
    width: 90%;
    height: auto;
  }
}

.image13 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 1128px;
  gap: 40px;
  height: auto;
}

.image13 img {
  width: 375px;
}

@media screen and (max-width: 1140px) {
  .image13 {
    gap: 0;
    height: auto;
    width: auto;
  }

  .image13 img {
    width: 90%;
    height: auto;
  }
}

.content .subtitle6 {
  font-size: 24px;
  line-height: 30px;
  color: white;
  font-weight: 500;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  background: #2f4692;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
  width: fit-content;
  flex-wrap: wrap;
}

.image14 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 40px;
  width: 1128px;
  margin-bottom: 3rem;
}

.image14 img {
  height: 203px;
}

@media (max-width: 1140px) {
  .image14 {
    width: auto;
    height: auto;
  }

  .image14 img {
    width: 90%;
    height: auto;
  }
}

.image15 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 1128px;
}

.image15 img {
  height: 567px;
  margin-bottom: 2rem;
}

@media (max-width: 1140px) {
  .image15 {
    width: auto;
    height: auto;
  }

  .image15 img {
    width: 90%;
    height: auto;
  }
}
